<div class="container" ng-init="loadBootstrap()">

    <div class="row">
        <h1 style="margin-bottom: 0">Tarek Kazak &#45; Front End Developer</h1>

        <h4 style="margin-bottom: 14px; font-size: 18px">(514) 803-5332 / tarek.kazak@gmail.com</h4>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <p class="panel-title">Career Achievements</p>
            </div>
            <div class="panel-body"><ul class="list">
                <li class="list-item-bullet">Researched and developed cutting edge techniques for making Adobe Flash content run on Apple
                    mobile devices culminating in the release of the first major Adobe Flash based app on the App Store.
                </li>
                <li class="list-item-bullet">Developed and released a series of high end mobile medical learning apps
                    for App Store and private release to major American pharmaceutical companies (Pfizer, Bristol-Meyers
                    Squibb, Bayer etc.)
                </li>
                <li class="list-item-bullet">Developed a toolchain and pipeline for converting Flash assets with nineslice
                    capabilities to XAML using javascript.
                </li>
                <li class="list-item-bullet">Introduced and presented modular behavior based MVC/MVP pattern to front-end dev
                    teams.
                </li>

                <li class="list-item-bullet">
                    Built cross-framework, cross-component firmwide modular CSS(SASS)/Component library and showcase application
                </li>

            </ul></div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <p class="panel-title">Core Competencies</p>
            </div>
            <div class="panel-body" id="competencies">


                <table class="table" >
                    <tr>
                       <td>

                            <ul>
                                <li class="list-item">HTML / JS / CSS</li>
                                <li class="list-item">IntelliJ idea</li>
                                <li class="list-item">AngularJS, Ext JS 4, Jasmine, Slickgrid</li>
                                <li class="list-item">requireJS, bower, npm, lodash, karma, Compass</li>
                            </ul>
                       </td>

                        <td>
                            <ul>
                                <li class="list-item">Flex/Flash/AS3</li>
                                <li class="list-item">IntelliJ idea / Eclipse / Flash Pro</li>
                                <li class="list-item">Robot legs,
                                    Parsley 3,
                                    Mockolate,
                                    FlexUnit</li>
                                <li class="list-tem">JSFL, Maven</li>
                            </ul>

                        </td>

                        <td >
                            <ul>
                                <li class="list-item">.NET / C# / WPF</li>
                                <li class="list-item">Visual Studio 2012 / Expression Blend</li>
                                <li class="list-item">Prism,
                                    Rhino Mock,
                                    Rx,
                                    Linq,
                                    Infragistcs</li>
                                <li class="list-tem">NuGet</li>
                            </ul>
                        </td>
                    </tr>

                </table>


            </div>

        </div>
    </div>

    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <p class="panel-title">Relevant Experience</p>
            </div>
            <div class="panel-body">
                <h4>Front end Developer / team lead -  User Experience Group &#45; Morgan Stanley August 2012 &#45; Present</h4>
                <ul class="list-group">
                    <li class="list-group-item">Acting lead of UX JS development team</li>
                    <li class="list-group-item">Managing/distributing UX libraries using GIT-stash, JIRA, Jenkins</li>
                    <li class="list-group-item">Managing code quality through peer review using crucible-fisheye</li>
                    <li class="list-group-item">Interacting with business units to establish requirements deliverables, and discuss high level concerns regarding technology choices</li>
                    <li class="list-group-item">Integrating of visual assets from high fidelity complex designs into Web applications</li>
                    <li class="list-group-item">Creating, deploying and supporting firm-wide themes, components and control libraries in ExtJS, Angular and Bootstrap</li>
                    <li class="list-group-item">Designing Front-end application architecture geared towards rich interfaces</li>
                </ul>

                <h4>Systems Developer Ebix (Taimma Communications Inc.)
                    October 2009 &#45; July 2012</h4>
                <ul class="list-group">
                    <li class="list-group-item">Leading software development and integration teams on certain projects</li>
                    <li class="list-group-item">Developing Flex eLearning content player framework for web and mobile (AIR) using Adobe Flash Builder 4.6 and Robot Legs</li>
                    <li class="list-group-item">Developing AS3 Flash eLearning content player for mobile platform
                        R&D of mobile and desktop solutions for eLearning:
                        <ol>
                            <li class="list-item-bullet">AIR applications for Android and IOS</li>
                            <li class="list-item-bullet">Native applications for IOS and Android</li>
                            <li class="list-item-bullet">GWT Ext JS and Java SWT webkit desktop application</li>
                            <li class="list-item-bullet">HTML 5, webkit, CSS3, player for Android and IOS</li>
                        </ol>
                    </li>
                    <li class="list-group-item">Developing eLearning authoring application using Adobe Flash Builder 4</li>
                    <li class="list-group-item">Setting up, customizing and configuring of Inquisiq and Docebo LMS</li>
                    <li class="list-group-item">Managing and maintaining linux server and repository</li>
                    <li class="list-group-item">Developing company websites using Python, CherryPy, Mako, Drupal</li>
                </ul>

                <h4>Independent Consultant January 2008 &#45; Present</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        Fusion MD
                        <ol>
                            <li class="list-item-bullet">Drupal eLearning platform for desktop/mobile with Google charts</li>
                            <li class="list-item-bullet">Java/D3 charting console application</li>
                            <li class="list-item-bullet">AIR Mobile quiz apps</li>

                        </ol>
                    </li>
                    <li class="list-group-item">
                        Face3Media
                        <ol>
                            <li class="list-item-bullet">Fashion Flash sites</li>
                            <li class="list-item-bullet">Flash ads and slideshows</li>

                        </ol>
                    </li>
                </ul>

            </div>


        </div>


    </div>

    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <p class="panel-title">Education</p>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li>Studied .NET development C#, MSSQL, Visual Studio, Java, Eclipse at CDI college</li>
                    <li>2007 Certificate in information architecture and game design from INIS institute</li>
                    <li>2004-2005 Marketing, advertising and creative writing at Concordia Continuing Education</li>
                    <li>B.A. at McGill University - Major: Political Science & East Asian studies - Minor: History</li>
                    <li>Baccalaureate in Pure and Applied Sciences and High School Diploma at College Stanislas</li>
                </ul>

            </div>
        </div>
    </div>
</div>    </div>
</div>
