#competencies {
  ul {
    width: 300px;
  }
  li {
    font-size: 14px;
    border-bottom: 1px solid rgba(207, 207, 207, 0.58);
    margin-bottom: 6px;
    padding-bottom: 3px;
  }
  li:first-child {
    font-weight: bold;
    margin-bottom: 9px;
    border-bottom: none;
  }

  li:last-child {
    border-bottom: none;
  }
}